<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906321350640-vptssvih6940n815g80mftnugginteua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906321350640-vptssvih6940n815g80mftnugginteua</string>
	<key>API_KEY</key>
	<string>AIzaSyCidlh3yCpdXvtPsFGUNWtgs7Mc6Po5mgk</string>
	<key>GCM_SENDER_ID</key>
	<string>906321350640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailAuth</string>
	<key>PROJECT_ID</key>
	<string>email-auth-8d552</string>
	<key>STORAGE_BUCKET</key>
	<string>email-auth-8d552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906321350640:ios:f51a321c669fd0f5835735</string>
</dict>
</plist>